.bigIcon {
  --size: 60px;
  width: var(--size);
  height: var(--size);
}

.mediumIcon {
  --size: 40px;
  width: var(--size);
  height: var(--size);
}
.smallIcon {
  --size: 24px;
  width: var(--size);
  height: var(--size);
}

.lightControlFill {
  fill: #eee;
}
